
/**********************************
    Datepicker
***********************************/

div#ui-datepicker-div {
    color: #8D8D8D;
    font-size: 12px;
    font-family: 'Avenir-Book';
    width: 315px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}

.ui-datepicker .ui-datepicker-title {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    color: #000000;
}

.ui-widget-header {
    border: none;
    background: #fff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 0;
    background: #fff;
    color: #8D8D8D;
    text-align: center;
    margin: 0 10px;
    width: 22px;
    height: 22px;
    line-height: 19px;
}

.ui-datepicker th,
.ui-datepicker td {
    font-size: 12px;
    width: 35px;
    height: 30px;
    vertical-align: middle;
    font-weight: 300;
    text-transform: uppercase;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background-color: #F9811E;
    color: #fff;
}

.ui-datepicker td a:hover {
    background-color: rgba(157, 36, 128, .2);
    color: #8D8D8D;
}

a.ui-datepicker-next.ui-corner-all,
a.ui-datepicker-prev.ui-corner-all {
    border: 1px solid #fff;
    background: #fff;
    font-weight: normal;
    color: #2b2b2b;
    cursor: pointer;
}

a.ui-datepicker-prev.ui-corner-all .ui-icon,
a.ui-datepicker-next.ui-corner-all .ui-icon {
    background-image: url(../images/ui-icons_555555_256x240.png);
}

.ui-icon-circle-triangle-e {
    background-position: -32px -15px;
}

.ui-icon-circle-triangle-w {
    background-position: -95px -15px;
}

input[id*="datepicker"]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #D8D8D8;
}

/* added by nirav */
.card-body-add .control-label {
    text-align: left;
    color: #8d8d8d;
}

#uploadBtn{
	position: relative;
	width: 100px;
	margin: 30px auto 20px auto;
	font-size: 14px;
	padding: 11px 5px;
	border-radius: 15px;
	background-color: #F9811E;
	color: #FFF;
	display: block;
	cursor: pointer;
	font-size: 12px;
	font-weight: 300;
	display: inline-block;
    border:none ;
    font-family :'Avenir-Book';
}