section.cancel-alert1 {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #D8D8D8;
	z-index: -10;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	text-align: center;
}

.alert-content {
	width: 100%;
	padding: 15px;
}

.alert-content h4 a {
	position: absolute;
	font-size: 72px;
	color: #F9811E;
	font-family: 'Avenir-Medium';
	top: 10px;
	right: 25px;
}

.alert-content h2 {
	font-size: 72px;
	color: #F9811E;
	font-family: 'Avenir-Heavy';
}

.alert-content p {
	font-size: 36px;
	color: #F9811E;
    font-family: 'Avenir-Medium';
    margin-bottom: 140px;
}

.cancel-alert-btn {
	color: #fff !important;
	width: auto;
	font-family: 'Avenir-Medium';
    font-size: 36px;
    background-color: #F9811E;
	padding: 23px 100px;
	border-radius: 0;
}

@media screen and (max-width:800px) {
	.alert-content h4 a {
		font-size: 36px;
		top: 100px;
		right: 40px;
	}
	.alert-content h2 {
		font-size: 36px;
	}
	.alert-content p {
		font-size: 18px;
        margin-bottom: 70px;
	}
	.cancel-alert-btn {
		font-size: 18px;
		padding: 12px 50px;
	}
}


/************** 19-2-2018 piyush ********************/

.alert-content h4 a { right: 35px; }



