section.establishment {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Avenir-Book';
}

.establishment-tabs {
    border-bottom: 0;
}

.establishment-tabs>li.active>a,
.establishment-tabs>li.active>a:focus,
.establishment-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #B11054;
}

.establishment-tabs>li>a:hover {
    border-color: #fff;
    background: #fff;
    border-bottom: 1px solid #B11054;
}

.establishment-tabs>li>a {
    margin-right: 50px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0;
    padding: 2px;
    color: #000;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.card-head {
    padding: 18px 30px;
    font-family: 'Avenir-Heavy';
    border-bottom: 1px solid #D8D8D8;
}

.card-head a {
    float: right;
    color: #7A7A7A;
    font-family: 'Avenir-Book';
}

.card-head a span {
    color: #cecece;
    padding-left: 15px;
}

.card-body {
    padding: 20px 30px;
}

.estab-form .control-label {
    text-align: left;
    color: #7A7A7A;
}

.estab-form .form-control {
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    box-shadow: none;
    color: #000;
    font-family: 'Avenir-Medium';
    padding: 5px 10px;
}

.estab-form .form-control[disabled] {
    cursor: inherit;
}

.estab-form .form-control[disabled],
.estab-form .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.btn-save {
    width: auto;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Avenir-Heavy';
}

.pass-change {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

.pass-change button {
    flex: 1 30%;
    -webkit-flex: 1 30%;
    -moz-flex: 1 30%;
    -ms-flex: 1 30%;
    margin-left: 2%;
}

.btn-change {
    width: auto;
    border-radius: 15px;
    padding: 6px 10px;
    font-size: 14px;
    text-transform: capitalize;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .pass-change button {
        flex: 1 50%;
        -webkit-flex: 1 50%;
        -moz-flex: 1 50%;
        -ms-flex: 1 50%;
        margin-left: 2%;
    }
}

@media screen and (max-width:430px) {
    .pass-change button {
        flex: 1 65%;
        -webkit-flex: 1 65%;
        -moz-flex: 1 65%;
        -ms-flex: 1 65%;
        margin-left: 2%;
    }
}

@media screen and (max-width:767px) {
    section.establishment {
        margin-left: 0;
        margin-top: 80px;
    }
    .establishment-tabs>li>a {
        margin-right: 15px;
        margin-top: 15px;
    }
    .mar-res {
        margin-top: 10px;
    }
    .card-head,
    .card-body {
        padding-left: 20px;
        padding-right: 20px;
    }
}