/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

/*.irs-bar-edge {
    background: url(../images/sprite-skin-flat.png) repeat-x;
}*/

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 8px; 
    top: 25px;
    background-color: #c3c3c3;
}
    .irs-line-left {
        height: 12px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 12px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 12px;
        background-position: 100% -30px;
    }

.irs-bar {
    height: 8px; 
    top: 25px;
    background-color: #F9811E; 
}
    .irs-bar-edge {
        /*background-position: 0 -90px;*/
        top: 49%;
        left: -3px;
        height: 25px;
        width: 25px;
        transform: translateY(-50%);
        background: #F9811E;
        border-radius: 100%;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    width: 25px; 
    height: 25px;
    border-radius: 100%;
    background: #F9811E;
    top: 49%;
    transform: translateY(-50%);
}
.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; 
    line-height: 1.333;
    text-shadow: none;
    top: -15px; 
    padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 16px; 
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #F9811E;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -14px; left: 50%;
    width: 0; height: 0;
    overflow: hidden;
    border: 8px solid transparent;
    border-top-color: #F9811E;
    transform: translateX(-50%);
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #fff;
}

.irs-disabled {
}
