.offers {
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Avenir-Book';
    vertical-align: top;
}

.edit-offer {
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Avenir-Book';
    vertical-align: top;
}

.form-date {
    float: right;
    margin-top: 6px;
}

.form-date label {
    color: #8D8D8D;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    vertical-align: sub;
}

.form-date input {
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0;
    padding: 3px 3px 3px 22px;
    height: 25px;
    width: 110px !important;
    font-size: 14px;
}

.form-date p {
    display: inline-block;
    color: #4A90E2;
}

.form-date input.date-box {
    box-shadow: none;
}

@media screen and (max-width:1199px) {
    .form-date {
        display: block;
        float: none;
        margin-top: 0;
    }
}

/**********************************
    Datepicker Head
***********************************/

.cal-head {
    position: absolute;
    margin-top: 6px;
    font-size: .75em;
    margin-left: 6px;
}

div#ui-datepicker-div {
    color: #8D8D8D;
    font-size: 12px;
    font-family: 'Avenir-Book';
    width: 220px;
    border: 1px solid #D8D8D8;
    border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    color: #000000;
}

.ui-widget-header {
    border: none;
    background: #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
    background: #fff;
    color: #8D8D8D;
    text-align: center;
    width: 22px;
    height: 22px;
    line-height: 19px;
}

.ui-datepicker th, .ui-datepicker td {
    font-size: 12px;
    width: 35px;
    height: 30px;
    vertical-align: middle;
    font-weight: 300;
    text-transform: uppercase;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #F9811E;
    color: #fff;
}

.ui-datepicker td a:hover {
    background-color: rgba(157, 36, 128, .2);
    color: #8D8D8D;
}

a.ui-datepicker-next.ui-corner-all, a.ui-datepicker-prev.ui-corner-all {
    border: 1px solid #fff;
    background: #fff;
    font-weight: normal;
    color: #2b2b2b;
    cursor: pointer;
}

a.ui-datepicker-prev.ui-corner-all .ui-icon, a.ui-datepicker-next.ui-corner-all .ui-icon {
    background-image: url(../images/ui-icons_555555_256x240.png);
}

.ui-icon-circle-triangle-e {
    background-position: -32px -15px;
}

.ui-icon-circle-triangle-w {
    background-position: -95px -15px;
}

input[id*="datepicker"]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #D8D8D8;
}

span.cal-pl {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
}

span.cal-pl img {
    width: 44%;
}

/**********************************
    RADIO
***********************************/

.co-offer input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.co-offer label.opt1 {
    color: #000;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    margin-bottom: 0;
    min-width: 100px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.4);
    border-radius: 10px 0 0 10px;
}

.co-offer label.opt2 {
    color: #000;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    margin-bottom: 0;
    min-width: 100px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.4);
    border-radius: 0 10px 10px 0;
}

.co-offer input[type=radio]:checked+label {
    color: #000;
    background: #fff;
}

.co-offer label+input[type=radio]+label {
    border-left: solid 1px #8D8D8D;
    margin-left: -4px;
}

.co-offer .radio-group {
    border: solid 1px #8D8D8D;
    display: inline-block;
    border-radius: 10px;
    margin-left: 22px;
}

/**********************************
    RADIO END
***********************************/

.date-se {
    color: #8D8D8D;
    text-align: right;
    line-height: 1.5em;
}

.date-se p {
    margin: 0;
}

.date-se span {
    font-weight: 500;
    font-family: 'Avenir-Medium';
    color: #000000;
    display: inline-block;
    min-width: 135px;
}

h4 {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    margin-top: 0;
}

.offer-head {
    text-align: right;
}

.offer-head p a {
    color: #3B7ADB;
    font-family: 'Avenir-Medium';
}

.offer-head p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: right;
    padding-left: 30px;
    vertical-align: top;
}

/**********************************
    CARD MAIN
***********************************/

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    padding: 7px 20px;
    margin-top: 15px;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -o-align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.card:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 1);
}

.card a {
    color: #3878DE;
    font-family: 'Avenir-Medium';
}

.card img {
    /*width: 100%;
    height: 100%;*/
    /* margin-left: 35px;
    margin-right: 60px; */
    image-rendering: -webkit-optimize-contrast;
    /* max-width: 45px; */
    max-height: 80px;
    object-fit: contain;
    margin: 0 auto;
}

.product-info {
    overflow: hidden;
    width: 100%;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.product-info div {
    display: inline-block;
    width: 75%;
}

.product-info div.productRevenue {
    width: 25%;
    float: right;
    display: block;
}

.product-info div.productName a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    max-width: 74%;
    display: inline-block;
}

/* .product-info div:nth-child(2n) {
    padding-left: 130px;
} */

.product-info p {
    color: #000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}

.product-info span {
    color: #8D8D8D;
    font-weight: 300;
    font-family: 'Avenir-Book';
    display: inline-block;
    width: 95px;
    padding-right: 10px;
    text-align: left;
}

/**********************************
    CARD MAIN END
***********************************/

/**********************************
    CARD CURRENT
***********************************/

.card-1 {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    padding: 20px 25px 50px;
    margin-top: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.card-1 a {
    color: #3878DE;
    font-family: 'Avenir-Medium';
}

.card-1 img {
    /* width: 65px;
    height: auto;
    margin-left: 30px;
    margin-right: 30px; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-height: 256px;
    max-height: 256px;
}

.card .delete {
    margin-left: 10px;
}

.product-info-1 {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.product-info-1 div {
    display: inline-block;
    width: 49%;
}

.product-info-1 div:nth-child(2n) {
    padding-left: 90px;
}

.product-info-1 p {
    color: #000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    margin-top: 8px;
    margin-bottom: 8px;
}

.product-info-1 span.offer-main {
    color: #8D8D8D;
    font-weight: 300;
    font-family: 'Avenir-Book';
    display: inline-block;
    width: 115px;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

.product-info-1 span.offer-date {
    display: inline-block;
    color: #000000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    padding-right: 0;
    width: auto;
}

.offer-date-p {
    display: inline-block;
    width: 35px;
    font-family: 'Avenir-Book';
    font-weight: 300;
}

/**********************************
    CARD CURRENT END
***********************************/

.card0 {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.card-head-past {
    font-family: 'Avenir-Black';
    padding: 17px 45px 30px;
}

.past-offers-table>thead>tr>th {
    color: #8D8D8D;
    font-weight: 300;
    border-bottom: 3px solid #D8D8D8;
    padding-bottom: 0px;
    vertical-align: middle;
}

.past-offers-table>thead>tr>th:first-child {
    padding-left: 45px;
}

.past-offers-table>tbody>tr>td {
    color: #000000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    border: 0;
    vertical-align: middle;
    padding: 14px 8px;
}

.past-offers-table>tbody>tr>td:first-child {
    padding-left: 45px;
}

.past-offers-table a {
    color: #4A90E2;
    font-weight: 300;
    font-family: 'Avenir-Book';
}

.past-offers-table span {
    color: #8D8D8D;
    font-weight: 300;
    font-family: 'Avenir-Book';
    display: inline-block;
    width: 45px;
}

/**********************************
    EDIT PAGE
***********************************/

.card-head-edit {
    font-family: 'Avenir-Black';
    padding: 20px 30px;
    border-bottom: 1px solid #D8D8D8;
}

.card-head-edit span {
    font-family: 'Avenir-Medium';
    float: right;
}

.card-body-edit {
    padding: 20px 30px 40px;
    color: #737373;
}

.card-body-edit .form-horizontal .control-label {
    text-align: left;
}

.card-body-edit input, .card-body-edit select {
    font-family: 'Avenir-Medium';
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    border: solid 1px #d8d8d8;
    /* 1px solid #D8D8D8;*/
    box-shadow: none;
    padding: 5px 10px;
    height: 35px;
    /*suggested by DC's developer*/
}

.save-edit {
    text-align: right;
    /* margin-top: 35px; */
}

.save-edit .btn {
    font-family: 'Avenir-Book';
    padding: 9px 30px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: auto;
}

.save-edit1 {
    text-align: center;
}

.save-edit1 .btn {
    font-family: 'Avenir-Book';
    padding: 9px 30px;
    font-size: 14px;
    background-color: #D8D8D8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: auto;
}

.save-edit .btn01 {
    background-color: #8D8D8D;
}

.fill-details {
    color: #D0021B;
    font-family: 'Avenir-Book';
    font-weight: 300;
    padding-top: 7px;
}

.card-body-edit .image-edit img {
    height: 130px;
    width: auto;
    padding-left: 26%;
}

.card-body-add {
    min-height: 515px;
}

.add-offer00 {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.add-offer02 {
    text-align: center;
    /* border: 1px solid #F5F5F5; */
}

.add-offer02 img {
    height: 450px;
    width: auto;
    /* margin-top: 60%; */
    image-rendering: -webkit-optimize-contrast;
    object-fit: contain;
}

@media screen and (min-width:1132px) {
    .hidden-above-1120 {
        display: none;
    }
    .card-body-edit .image-edit img {
        height: 130px;
        width: auto;
        padding-left: 29%;
    }
}

@media screen and (min-width:360px) and (max-width:1038px) {
    .hidden-above-1120 {
        display: none;
    }
    .card-body-edit .image-edit img {
        height: 130px;
        width: auto;
        padding-left: 29%;
    }
}

@media screen and (min-width:1025px) and (max-width:1100px) {
    .product-info div:nth-child(2n), .product-info-1 div:nth-child(2n) {
        padding-left: 50px;
    }
}

@media screen and (min-width:800px) and (max-width:1150px) {
    .product-info div.productRevenue {
        width: 35%;
        float: right;
        margin-top: -35px;
        padding-left: 0px;
    }
}

@media screen and (min-width:768px) and (max-width:1038px) {
    .product-info, .product-info-1 {
        text-align: left;
    }
    .product-info div, .product-info-1 div {
        display: block;
        width: 100%;
    }
    .product-info div:nth-child(2n), .product-info-1 div:nth-child(2n) {
        padding-left: 0;
    }
    .co-offer label.opt2, .co-offer label.opt1 {
        padding: 10px 15px;
        min-width: 70px;
    }
}

@media screen and (max-width:800px) {
    .product-info div.productRevenue {
        display: inline-block;
        float: none;
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .offers, .edit-offer {
        margin-left: 0;
        margin-top: 50px;
    }
    .date-se {
        text-align: left;
    }
    .offer-head {
        text-align: left;
    }
    .offer-head p {
        /* padding-right: 30px; */
        padding-left: 0px;
    }
    .card, .card-1 {
        /*display: block;*/
        text-align: left;
        padding: 20px;
    }
    .card .edit {
        /*margin-left: 100px;*/
    }
    .card img {
        /*margin-left: 100px;
        margin-right: 10px;
        margin-top: 20px;*/
    }
    .card-1 img {
        margin-left: 100px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .product-info, .product-info-1 {
        /*margin-top: 20px;*/
        text-align: left;
    }
    .product-info div, .product-info-1 div {
        display: block;
        width: 100%;
    }
    .product-info div:nth-child(2n), .product-info-1 div:nth-child(2n) {
        padding-left: 0;
    }
    .card-1 .edit {
        position: absolute;
        top: 15px;
        right: 35px;
    }
    .card-head-past {
        font-family: 'Avenir-Heavy';
        padding: 20px;
    }
    .past-offers-table>thead>tr>th, .past-offers-table>tbody>tr>td {
        padding: 10px;
    }
    .past-offers-table>thead>tr>th:first-child, .past-offers-table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .card-body-edit .image-edit {
        text-align: center;
    }
    .card-body-edit .image-edit img {
        padding-left: 0;
    }
    .add-offer00 {
        display: block;
    }
    .add-offer02 img {
        height: 250px;
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .add-offer02 {
        margin: 0 15px 15px;
    }
    .card-body-edit, .card-head-edit {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-brand {
        padding: 18px 15px;
    }
    .form-filter .form-group, .form-date .form-group {
        display: inline-block;
        width: auto;
    }
    .form-filter .form-control, .form-date .form-control {
        display: inline-block;
        width: auto;
    }
}

option:disabled {
    color: #D8D8D8;
}

#offer_list .product-img {
    max-width: 100%;
    text-align: center;
    width: 116px;
    display: inline-block;
}

.card-1 .product-img {
    max-width: 125px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:480px) {
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        margin: 0;
    }
    .ui-datepicker th, .ui-datepicker td {
        width: 20px;
    }
    div#ui-datepicker-div {
        width: 250px;
    }
    .card, .card-1 {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .card .edit, .card .delete {
        display: inline-block;
    }
    .product-info, .product-info-1 {
        margin-top: 20px;
        -webkit-flex: 1 100%;
        -webkit-box-flex: 1 100%;
        -moz-flex: 1 100%;
        -moz-box-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
    }
    .product-info p, #offer_list .product-img {
        text-align: right;
    }
    .product-info span {
        float: left;
        text-align: left;
    }
}

.offers .breadcrumb {
    margin-bottom: 20px;
}

.productName a {
    color: #000;
}

.productName a:hover {
    color: #3878DE;
}

#past_offer .qty {
    padding-left: 20px;
}

/******* 14-2-2018 piyush *********/

.ed-link-nw {
    text-align: right;
    padding: 20px 15px 0 0;
}

.ed-link-nw a {
    color: #d8d8d8;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: normal;
}

.form-date input.date-box {
    box-shadow: none;
}