/* .navbar-inverse {
	background: #B11054;
	border-color: #B11054;
} */

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #F9811E;
}

.btn-01 a {
	background-color: #F9811E;
}

section.order-alert1 {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F9811E;
	z-index: 999;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	text-align: center;
}

section.order-alert2 {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F78130B3;
	z-index: 999;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	text-align: center;
}

.alert-content {
	width: 100%;
	padding: 15px;
}

.alert-content h4 a {
	position: absolute;
	font-size: 72px;
	color: #fff;
	font-family: 'Avenir-Medium';
	top: 10px;
	right: 25px;
}

.alert-content h2 {
	font-size: 72px;
	color: #fff;
	font-family: 'Avenir-Heavy';
}

.alert-content p {
	font-size: 36px;
	color: #fff;
	font-family: 'Avenir-Medium';
}

.alert-content h3 {
	font-size: 72px;
	color: #fff;
	font-family: 'Avenir-Medium';
	padding: 70px 0;
}

.order-alert-btn {
	color: #F9811E !important;
	width: auto;
	font-family: 'Avenir-Medium';
	font-size: 36px;
	background-color: #F5F5F5;
	padding: 23px 100px;
	border-radius: 0;
}

.order-alert-btn2 {
	color: #F78130 !important;
	width: auto;
	font-family: 'Avenir-Medium';
	font-size: 36px;
	background-color: #F5F5F5;
	padding: 23px 100px;
	border-radius: 0;
}

@media screen and (max-width:800px) {
	.alert-content h4 a {
		font-size: 36px;
		top: 100px;
		right: 40px;
	}
	.alert-content h2 {
		font-size: 36px;
	}
	.alert-content p {
		font-size: 18px;
	}
	.alert-content h3 {
		font-size: 36px;
		padding: 35px 0;
	}
	.order-alert-btn, .order-alert-btn2 {
		font-size: 18px;
		padding: 12px 50px;
	}
}