.orders {
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Avenir-Book';
    vertical-align: top;
}

.order-flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.order-left {
    /* min-width: 250px;
    max-width: 250px; */
    flex: 0.5;
    padding: 0 15px;
}

.order-right {
    padding: 0 15px;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/****************************
    Pills Styling
*****************************/

.scroll-tab1 {
    max-height: 100px;
    overflow: auto;
}

.scroll-tab2 {
    max-height: 100px;
    overflow: auto;
}

.scroll-tab3 {
    max-height: 100px;
    overflow: auto;
}

.scroll-tab4 {
    max-height: 100px;
    overflow: auto;
}

/* .orders-table {
    max-width: 270px;
} */

.nav-pills>li>a {
    border-radius: 0;
    background-color: #f5f5f5;
    color: #000000;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    font-family: 'Avenir-Medium';
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.nav-stacked>li+li {
    margin-top: 20px;
    margin-left: 0;
}

.nav-stacked>li>a {
    padding: 8px;
}

.nav-pills>li.active>a.order1, .nav-pills>li.active>a.order1:focus, .nav-pills>li.active>a.order1:hover {
    color: #fff;
    background-color: #F9811E;
}

.nav-pills>li.active>a.order2, .nav-pills>li.active>a.order2:focus, .nav-pills>li.active>a.order2:hover {
    color: #fff;
    background-color: #F78130;
}

.nav-pills>li.active>a.order3, .nav-pills>li.active>a.order3:focus, .nav-pills>li.active>a.order3:hover {
    color: #fff;
    background-color: #4A90E2;
}

.nav-pills>li.active>a.order4, .nav-pills>li.active>a.order4:focus, .nav-pills>li.active>a.order4:hover {
    color: #fff;
    background-color: #8D8D8D;
}

.orders-table>tbody>tr>td, .orders-table>tbody>tr>th, .orders-table>tfoot>tr>td, .orders-table>tfoot>tr>th, .orders-table>thead>tr>td, .orders-table>thead>tr>th {
    border: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    vertical-align: middle;
}

.orders-table>tbody>tr>td:last-child, .orders-table>tbody>tr>th:last-child, .orders-table>tfoot>tr>td:last-child, .orders-table>tfoot>tr>th:last-child, .orders-table>thead>tr>td:last-child, .orders-table>thead>tr>th:last-child {
    text-align: right;
}

.orders-table span {
    font-weight: 500;
    font-family: 'Avenir-Medium';
}

.orders-table p {
    margin-top: 5px;
    margin-bottom: 0;
}

.orders-table tr:hover {
    cursor: pointer;
    /* color:#F9811E; */
    /* box-shadow: 0 0px 9px 0 rgb(157, 36, 128); */
    outline: 1px solid rgb(157, 36, 128);
}

/****************************
    Pills Styling Ends
*****************************/

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.card-head {
    padding: 30px 25px 20px 100px;
}

.card-body {
    padding: 0 100px 80px;
    background-color: #FFFFFF;
}

.card-head-l p {
    text-align: left;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    margin-bottom: 6px;
}

.card-head-l h3 {
    text-align: left;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    font-size: 24px;
    line-height: 35px;
    margin-top: 0;
}

.span0 {
    margin-right: 15px;
}

.span1 {
    font-size: 14px;
    padding: 3px 25px;
    background-color: #F9811E;
    font-family: 'Avenir-Heavy';
    color: #fff;
    line-height: 25px;
    vertical-align: top;
    white-space: nowrap;
}

.span2 {
    font-size: 14px;
    padding: 3px 25px;
    background-color: #F78130;
    font-family: 'Avenir-Heavy';
    color: #fff;
    line-height: 25px;
    vertical-align: top;
    white-space: nowrap;
}

.span3 {
    font-size: 14px;
    padding: 3px 25px;
    background-color: #4A90E2;
    font-family: 'Avenir-Heavy';
    color: #fff;
    line-height: 25px;
    vertical-align: top;
    white-space: nowrap;
}

.riskScoreSpan {
    font-size: 14px;
    padding: 3px 25px;
    background-color: #F78130;
    font-family: 'Avenir-Heavy';
    color: #fff;
    line-height: 25px;
    vertical-align: top;
    white-space: nowrap;
}

.card-head-r p {
    text-align: right;
}

.card-head-r a {
    color: #4A90E2;
}

.orders-table2 {
    font-family: 'Avenir-Medium';
}

.orders-table2>thead>tr>th {
    border-top: 3px solid #F5F5F5 !important;
    border-bottom: 3px solid #F5F5F5;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #8D8D8D;
    font-weight: 300;
    font-family: 'Avenir-Book';
}

.orders-table2 span {
    font-family: 'Avenir-Book';
}

.orders-table2>tbody>tr>td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    border: 0;
}

.orders-table2>tbody>tr>td:last-child {
    text-align: right;
}

.orders-table2>tbody>tr:last-child>td {
    padding-bottom: 65px;
    border-bottom: 3px solid #F5F5F5;
    letter-spacing: 1px;
}

.orders-table3 {
    width: 200px;
    font-family: 'Avenir-Medium';
    margin-left: auto;
}

.orders-table3>tbody>tr>td:last-child {
    text-align: right;
}

.orders-table3>tbody>tr>td {
    border: 0;
}

.btn-ready {
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 9px 10px;
    /* margin-top: 100px; */
    min-width: 110px;
}

.btn-ready2 {
    background-color: #F78130;
}

.btn-ready3 {
    background-color: #4A90E2;
}

.btn-reject {
    background-color: #D0021B;
    margin-left: 90px;
}

.card2 {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.card3 {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    margin-top: 20px;
}

.card-head2 h3 {
    font-family: 'Avenir-Medium';
    padding: 25px 120px 15px 96px;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.card-head3 {
    font-family: 'Avenir-Medium';
    padding: 25px 50px 30px 96px;
    font-weight: 500;
    font-size: 14px;
}

.card-head3 h3 {
    font-size: 14px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.card-head3 .form-group {
    float: right;
    margin-top: -10px;
}

.card-body2 {
    padding: 0 120px 15px 50px;
    font-family: 'Avenir-Book';
    font-weight: 300;
}

.card-body3 {
    padding: 0 120px 0 50px;
    font-family: 'Avenir-Book';
    font-weight: 300;
    margin-top: inherit;
}

.table-order4>thead>tr>th {
    color: #8D8D8D;
    font-family: 'Avenir-Book';
    font-weight: 300;
    border: 0;
    vertical-align: top;
}

.table-order4>tbody>tr>td {
    font-family: 'Avenir-Medium';
    font-weight: 500;
    border: 0;
    vertical-align: top;
    padding: 20px 8px;
}

.table-order4>tbody>tr:last-child>td {
    padding-bottom: 25px;
}

.all-orders {
    text-align: right;
}

.all-orders a {
    color: #4A90E2;
}

/**********************************
    RADIO
***********************************/

.co-order input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.co-order label.opt1 {
    color: #000;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    margin-bottom: 0;
    min-width: 100px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.4);
    border-radius: 10px 0 0 10px;
}

.co-order label.opt2 {
    color: #000;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    margin-bottom: 0;
    min-width: 100px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.4);
    border-radius: 0 10px 10px 0;
}

.co-order input[type=radio]:checked+label {
    color: #000;
    background: #fff;
}

.co-order label+input[type=radio]+label {
    border-left: solid 1px #8D8D8D;
    margin-left: -4px;
}

.co-order .radio-group {
    border: solid 1px #8D8D8D;
    display: inline-block;
    border-radius: 10px;
    margin-left: 22px;
}

/**********************************
    RADIO END
***********************************/

.confirm-code {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    max-width: 270px;
    /* margin-top: 10px; */
    margin: 0 auto;
}

.confirm-code input {
    border-radius: 0;
    height: 38px;
    margin-right: 10px;
    padding: 8px 6px;
    margin-top: 10px;
}

.btn-searchcode {
    background-color: #4A90E2;
    border-radius: 0;
    padding: 8px;
    font-size: 14px;
    font-family: 'Avenir-Book';
    width: 80px;
    margin-top: 10px;
}

h3 span.arrow {
    transform: rotate(180deg);
    transition: 0.5s;
    position: absolute;
    margin-left: 135px;
    margin-top: -15px;
}

h3.collapsed span {
    transform: rotate(0deg);
}

.age-vf {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Book';
    color: #000000;
    position: absolute;
    margin-top: 10px;
    margin-left: 29%;
}

td:first-child select {
    width: 100%;
}

td:first-child span:first-child,
td:first-child .select2-container {
    width: 100% !important;
}

.note-order {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Book';
    color: #000000;
    text-align: center;
    margin: 10px 0;
}

@media screen and (min-width:1300px) {
    .order-flex {
        margin: 0 20px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .card-head {
        padding: 30px 25px 20px 50px;
    }
    .card-body {
        padding: 0 50px 80px;
    }
    .card-head2 h3 {
        padding: 25px 40px 15px 68px;
    }
    .card-head3 {
        padding: 25px 30px 30px 68px;
    }
    .card-body2, .card-body3 {
        padding: 0 20px 15px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .card-body {
        padding: 20px 20px 40px;
    }
    .card-head {
        padding: 20px 20px 0px;
    }
    .card-head-r p {
        text-align: left;
    }
    .card-head2 h3, .card-head3 {
        padding: 20px 20px 20px 58px;
    }
    .card-body2, .card-body3 {
        padding: 0 20px 20px;
    }
    .card-head3 .form-group {
        float: none;
        margin-top: 10px;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

@media screen and (max-width:950px) {
    .order-flex {
        display: block;
    }
    .card-body {
        padding: 20px 20px 40px;
    }
    .card-head {
        padding: 20px 20px 0px;
    }
    .order-right {
        margin-top: 50px;
    }
    .card-head-r p {
        text-align: left;
    }
    .order-left {
        max-width: 100%;
    }
    .age-vf {
        margin-left: 50%;
    }
    
    .orders-table {
        max-width: 100%;
    }
}

@media screen and (max-width:767px) {
    .orders {
        margin-left: 0;
        margin-top: 50px;
    }
    .nav>li {
        position: relative;
        display: block;
    }
    .table-responsive {
        border: 0;
    }
    .btn-ready {
        margin-top: 50px;
    }
    .card-head2 h3, .card-head3 {
        padding: 20px 20px 20px 58px;
    }
    .card-body2, .card-body3 {
        padding: 0 20px 20px;
    }
    .confirm-code {
        max-width: 270px;
        margin-top: 10px;
    }
}

@media screen and (max-width:550px) {
    .card-head3 .form-group {
        float: none;
        margin-top: 20px;
    }
}

@media screen and (max-width:480px) {
    .co-order .radio-group {
        margin-left: 0;
    }
    .co-order>label.sort-by {
        margin-right: 15px;
    }
    .btn-reject {
        margin-left: 20px;
    }
    .age-vf {
        margin-left: 30%;
    }
}

.orderScroll {
    min-height: 70px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0 10px;
}

.orderScroll.pastOrder {
    max-height: 440px;
}

.orderScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.orderScroll::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

.orderScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #F9811E;
    /*Scroll color*/
}

.activeOrder {
    border: 2px solid #4b90e2;
}

.card-head-l h3 {
    position: relative;
    padding-right: 90px;
}

.card-head-l h3 .span1 {
    position: absolute;
    right: 0;
    top: 4px;
}

.card-head-l h3 .span2 {
    position: absolute;
    right: 0;
    top: 40px;
}

.card-head-l h3 .span3 {
    position: absolute;
    right: 0;
    top: 4px;
}

.card-head-l h3 .riskScoreSpan {
    position: absolute;
    right: 0;
    top: 40px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

@media screen and (max-width:767px) {
    .card-head-l h3 .span1 {
        position: static;
    }
    .card-head-l h3 .span2 {
        position: static;
    }
    .card-head-l h3 .span3 {
        position: static;
    }
    .card-head-l h3 .riskScoreSpan {
        position: static;
    }
    .card-head-l h3 {
        padding-right: 0;
    }
}

/* .orderScroll {
    /* min-height: inherit;
} */

.orderScroll .table {
    margin-bottom: 0px;
}

/*Added by Kamlesh for popup dialogue in mobile size */

.order-right {
    transform: translate(0%);
}

@media screen and (max-width:767px) {
    .order-right {
        position: fixed;
        top: 50px;
        left: 0px;
        width: 100%;
        height: calc(100vh - 50px);
        overflow: auto;
        z-index: 9;
        margin-top: 0px;
        background-color: rgba(0, 0, 0, 0.25);
        padding-top: 20px;
        padding-bottom: 100px;
        transform: translate(100%);
        transition: all linear 0.2s;
    }
    .order-close-btn {
        position: absolute;
        top: 26px;
        right: 20px;
        font-size: 32px;
        line-height: 22px;
        width: 25px;
        height: 25px;
        padding: 0px;
        border: none;
        background: none;
        transform: rotate(45deg);
        color: #F9811E;
    }
    .lead {
        font-size: 21px;
    }

    .orderScroll {
        min-height: inherit !important;
    }

    .orderScroll.pastOrder {
        max-height: 250px !important;
    }

    .modal {
        top: 25rem !important;
    }

    .modal-content {
        width: 100% !important;
    }
}

@media screen and (min-width: 990px) and (max-width: 1100px) {
    .card-head-l h3 .span1 {
        position: static !important;
    }
}

/* Success Animation */
#animate {
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    bottom: 100px;
    color: #005596;
    left: 50%;
    outline: 0;
    padding: 10px 30px;
    position: absolute;
    transform: translateX(-50%);
}

#animate:active {
    background: rgba(255,255,255,0.1);
}

/* @keyframes scaleAnimation {
    // 0% {
    //   opacity: 0;
    //   transform: scale(1.5);
    // }
    // 100% {
       opacity: 1;
       transform: scale(1);
    }
  } */
  
  @keyframes drawCircle {
    0% {
      stroke-dashoffset: 300px;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes drawCheck {
    0% {
      stroke-dashoffset: 35px;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
@keyframes drawLine {
    from {
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
}

#successAnimationCircle {
    stroke-dasharray: 300px 300px;
    stroke: #4FAE01;
}

#failureAnimationCircle {
    stroke-dasharray: 300px 300px;
    stroke: #A72B2A;
}

#successAnimationCheck,
#failureAnimationCheck {
    stroke-dasharray: 35px 35px;
    stroke: #4FAE01;
}

#failureAnimationCheck {
stroke-dasharray: 35px 35px;
stroke: #A72B2A;
}

#successAnimation.animated,
#failureAnimation.animated {
    animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimationCircle,
#failureAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle;
}

#successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck;
}

.failureAnimationCheckLine {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: drawLine 1s cubic-bezier(1, 0.2, 0.1, 1) forwards;
}

.modal {
    top: 30rem;
}

.modal-body {
    margin: 20px 10px;
}

.modal-content {
    box-shadow: unset !important;
    /* border: 0px !important; */

    background-color: #ffffff;
    width: 499px;
    padding: 17px;
    border-radius: 2px;
    text-align: center;
    
}

#msg {
    font-weight: 500;
    font-size: 20px;
}

.button-container {
    text-align: right;
}

.modal-title {
    font-weight: 500;
}

.modal-body button {
    text-align: right;
    /* margin-top: 40px; */
    width: auto;
    background-color: white !important;
    color: #4A90E2 !important;
    border: 0px;
    padding: 5px 15px;
    box-shadow: none;
    text-transform: capitalize;
    font-size: 20px;
}


#msg {
    margin: 30px 0;
}

.modalBtn {
    display: inline-block;
    width: auto;
    background-color: white !important;
    color: #4A90E2 !important;
    border: 0px;
    padding: 5px 15px;
    box-shadow: none;
    text-transform: capitalize;
}

.border-1 {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    margin: 5px 0px;
}
.d-flex {
    display: flex !important;
}
.p-0 {
    padding: 0px !important;
}
.w-50 {
    width: 50% !important;
}
.w-80 {
    width: 80% !important;
}
.w-100 {
    width: 100% !important;
}
.header-title {
    color: #d3832b;
    font-size: 16px;
    font-weight:600;
    width: 25%;
    margin: 0px;
}
.f-16 {
    font-size: 16px;
}
.leftPanel {
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}
.rightPanel {
    border-bottom: 2px solid #e7e7e7;
}
.bottomPanel, .rightPanel, .leftPanel {
    padding: 10px;
}
.rightPanel .justify-end-m-10-30 {
    margin: 10px 30px;
    justify-content: flex-end;
}
.rightPanel button {
    width: 20%;
    padding: 2px 10px;
}
.leftPanel p {
    display: flex;
}
.leftPanel p:nth-child(4) {
    margin: 0px;
}
.rightPanel p {
    display: flex;
}
.rightPanel input {
    width: 70%;
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
}
.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.d-flex-wrap div {
    width: 45%;
    margin: 10px;
    display: flex;
}
.d-flex-wrap span:nth-child(1) {
    width: 70%;
}
.d-flex-wrap span:nth-child(2) {
    width: 30%;
    text-align: center;
    border-right: 1px solid beige;
}
.b-r-0 {
    border-right: 0px;
}