.receipt {
    /* margin-top: 100px;
    margin-left: 150px; */
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Avenir-Book';
    vertical-align: top;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
}

.breadcrumb>li>a {
    color: #8D8D8D;
}

.breadcrumb>li+li:before {
    padding: 0 3px;
    color: #000000;
    content: "\203A";
}

.breadcrumb>.active {
    color: #000000;
    font-family: 'Avenir-Medium';
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.receipt .card {
    margin-top: 30px;
}

.card-head {
    background: #F5F5F5 !important;
    padding: 10px;
    text-align: center;
}

.card-head img {
    max-height: 50px;
}

.card-body {
    padding: 55px 120px 60px;
}

.receipt .card-body {
    padding: 55px 50px 60px;
}

.receipt-head {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: baseline;
}
.card-body .receipt-head + .receipt-head{
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 3px solid #F5F5F5;
}

.receipt-head .receipt-head-inner h3 {
    flex: 1;
    font-size: 24px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.receipt-head p {
    flex: 1;
    margin: 0;
    text-align: right;
}

.receipt-head .receipt-head-inner p1 {
    text-align: left;
    font-size: 18px;
    line-height: normal;
    margin: 5px 0px;
}

.table-receipt>thead>tr>th {
    color: #8D8D8D;
    font-family: 'Avenir-Book';
    font-weight: 300;
    border-bottom: 3px solid #F5F5F5;
}

.table-receipt>tbody>tr>td {
    color: #000;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.table-receipt>tbody>tr>td span {
    font-family: 'Avenir-Book';
    font-weight: 300;
}

.table-receipt>tbody>tr:last-child>td {
    padding-bottom: 70px;
    border-bottom: 3px solid #F5F5F5;
}

.table-receipt2 {
    width: 200px;
    font-family: 'Avenir-Medium';
    margin-left: auto;
}

.table-receipt2>tbody>tr>td {
    border: 0;
}

.btn-print {
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 9px 35px;
    margin-top: 100px;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .card-body {
        padding: 50px;
    }
}

@media screen and (max-width:767px) {
    .card-body {
        padding: 20px;
    }
    .receipt-head {
        flex-flow: column;
    }
    .receipt-head p {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        order: -1;
    }
    .btn-print {
        margin-top: 50px;
    }
}

@media print {
    div.card {
        border: 1px solid #f5f5f5 !important;
    }
    div.card-head {
        background-color: #f5f5f5 !important;
        -webkit-print-color-adjust: exact;
    }
}

.receipt-head div p {
    text-align: left;
    font-size: 18px;
    line-height: normal;
    margin: 5px 0px;
}