section.establishment {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Avenir-Book';
    margin-left: 150px;
}

.establishment-tabs {
    border-bottom: 0;
}

.establishment-tabs>li.active>a, .establishment-tabs>li.active>a:focus, .establishment-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #B11054;
}

.establishment-tabs>li>a:hover {
    border-color: #fff;
    background: #fff;
    border-bottom: 1px solid #B11054;
}

.establishment-tabs>li>a {
    margin-right: 50px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0;
    padding: 2px;
    color: #000;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.card-head {
    padding: 18px 30px;
    font-family: 'Avenir-Heavy';
    border-bottom: 1px solid #D8D8D8;
}

.card-head a {
    float: right;
    color: #7A7A7A;
    font-family: 'Avenir-Book';
}

.card-head a span {
    color: #cecece;
    padding-left: 15px;
}

.card-body {
    padding: 20px 30px;
}

.estab-form .control-label {
    text-align: left;
    color: #7A7A7A;
}

.estab-form .form-control {
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    box-shadow: none;
    color: #000;
    font-family: 'Avenir-Medium';
    padding: 5px 10px;
}

.estab-form .form-control[disabled] {
    cursor: inherit;
}

.estab-form .form-control[disabled], .estab-form .form-control[readonly] {
    background-color: #ecebe4;
    opacity: 1;
}

.btn-save {
    width: auto;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Avenir-Heavy';
}

.pass-change {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

.pass-change button {
    flex: 1 30%;
    -webkit-flex: 1 30%;
    -moz-flex: 1 30%;
    -ms-flex: 1 30%;
    margin-left: 2%;
}

.btn-change {
    width: auto;
    border-radius: 15px;
    padding: 6px 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.irs {
    height: 35px;
}

.irs-line {
    height: 4px;
    top: 16px;
    background-color: #979797;
    width: 100%;
}

span.irs-bar {
    height: 4px !important;
    top: 16px;
    background-color: #F9811E;
}

.irs-slider, .irs-bar-edge {
    top: 52%;
    background: #F9811E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 30px;
    width: 30px;
}

.irs-from {
    /* visibility: visible !important; */
}

.irs-from, .irs-to, .irs-single {
    top: 35px;
}

.irs-from, .irs-to, .irs-single {
    color: #393939;
    font-size: 14px;
    background: none;
    font-weight: 300;
}

.irs-from:after, .irs-to:after, .irs-single:after {
    display: none;
}

.checkbox-design {
    position: relative;
    display: inline-block;
    padding-left: 43px;
    margin-bottom: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
    cursor: pointer;
    color: #7A7A7A;
    padding-top: 2px;
}

.checkbox-design input {
    position: absolute;
    opacity: 0;
}

.checkbox-square {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    left: 15px;
    border: 2px solid #d8d8d8;
    background: #ffffff;
}

.checkbox-design input:checked~.checkbox-square {
    background: #fff;
    -webkit-animation: CheckRadioAnimation 250ms linear;
    animation: CheckRadioAnimation 250ms linear;
    border-color: #F9811E;
}

.checkbox-design input:checked~.checkbox-square:before {
    content: '';
    width: 2px;
    height: 6px;
    top: 6px;
    left: 3px;
    background: #F9811E;
    border-left: 2px solid #F9811E;
    border-bottom: 2px solid #F9811E;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-design input:checked~.checkbox-square:after {
    content: '';
    width: 12px;
    height: 2px;
    top: 5px;
    left: 3px;
    background: #F9811E;
    border-left: 2px solid #F9811E;
    border-bottom: 2px solid #F9811E;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(130deg);
}

@-webkit-keyframes CheckRadioAnimation {
    from {
        -webkit-transform: scale(0.6);
        opacity: 0.1
    }
    to {
        -webkit-transform: scale(1);
        opacity: 0.7
    }
}

@keyframes CheckRadioAnimation {
    from {
        transform: scale(0.6);
        opacity: 0.1
    }
    to {
        transform: scale(1);
        opacity: 0.7
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .pass-change button {
        flex: 1 50%;
        -webkit-flex: 1 50%;
        -moz-flex: 1 50%;
        -ms-flex: 1 50%;
        margin-left: 2%;
    }
}

@media screen and (max-width:767px) {
    section.establishment {
        margin-left: 0;
        margin-top: 20px;
    }
    .establishment-tabs>li>a {
        margin-right: 15px;
        margin-top: 15px;
    }
    .mar-res {
        margin-top: 10px;
    }
    .card-head, .card-body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .irs-slider, .irs-bar-edge {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width:430px) {
    .pass-change button {
        flex: 1 65%;
        -webkit-flex: 1 65%;
        -moz-flex: 1 65%;
        -ms-flex: 1 65%;
        margin-left: 2%;
    }
    .nav-tabs>li {
        float: none;
    }
    .establishment-tabs>li>a {
        margin-right: 5px;
        font-size: 12px;
    }
}

@media screen and (max-width:380px) {
    .establishment-tabs>li>a {
        font-size: 11px;
    }
}

.estab-form .control-label {
    margin-top: 8px;
}

#changePasswordModel .modal-dialog {
    width: calc(100% - 20px);
    max-width: 400px;
}

#changePasswordModel .modal-header h5 {
    display: inline-block;
}

#changePasswordModel .modal-content {
    border: none;
    border-radius: 3px;
}

#changePasswordModel .modal-body .labels {
    width: 40%;
}

#changePasswordModel .modal-body .inputs {
    width: 55%;
}

#changePasswordModel .modal-body .submit {
    text-align: center;
}

#changePasswordModel .modal-body .submit button {
    padding: 6px 30px;
    margin-top: 5%;
    border-radius: 15px;
}

#changePasswordModel .form-control {
    width: auto;
    display: inline;
}

#changePasswordModel .btn {
    width: auto;
}

@media screen and (max-width:767px) {
    #changePasswordModel .modal-body .labels, #changePasswordModel .modal-body .inputs, #changePasswordModel .form-control {
        width: 100%;
    }
    #changePasswordModel table, #changePasswordModel table * {
        display: block;
    }
    #changePasswordModel .modal-body .labels label {
        line-height: normal;
        margin-top: 10px;
    }
    #changePasswordModel .btn {
        margin: auto;
        margin-top: 20px;
    }
}