/************************************************************************************
    Avenir Next
***********************************************************************************/

@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('../fonts/avenirnext/AvenirNextLTPro-Bold.eot') format('embedded-opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Bold.ttf') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Bold.woff') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url('../fonts/avenirnext/AvenirNextLTPro-Demi.eot') format('embedded-opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Demi.ttf') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Demi.woff') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Demi.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Heavy';
    src: url('../fonts/avenirnext/AvenirNextLTPro-Heavy.eot') format('embedded-opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Heavy.ttf') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Heavy.woff') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: url('../fonts/avenirnext/AvenirNextLTPro-Medium.eot') format('embedded-opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Medium.ttf') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Medium.woff') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/avenirnext/AvenirNextLTPro-Regular.eot') format('embedded-opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Regular.ttf') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Regular.woff') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-UltLt';
    src: url('../fonts/avenirnext/AvenirNextLTPro-UltLt.eot') format('embedded-opentype'), url('../fonts/avenirnext/AvenirNextLTPro-UltLt.ttf') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-UltLt.woff') format('opentype'), url('../fonts/avenirnext/AvenirNextLTPro-UltLt.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/************************************************************************************
    Avenir
***********************************************************************************/

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/avenir/Avenir-Medium.eot') format('embedded-opentype'), url('../fonts/avenir/Avenir-Medium.ttf') format('opentype'), url('../fonts/avenir/Avenir-Medium.woff') format('opentype'), url('../fonts/avenir/Avenir-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-MediumO';
    src: url('../fonts/avenir/Avenir-MediumOblique.eot') format('embedded-opentype'), url('../fonts/avenir/Avenir-MediumOblique.ttf') format('opentype'), url('../fonts/avenir/Avenir-MediumOblique.woff') format('opentype'), url('../fonts/avenir/Avenir-MediumOblique.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/avenir/AvenirLTStd-Book.eot') format('embedded-opentype'), url('../fonts/avenir/AvenirLTStd-Book.ttf') format('opentype'), url('../fonts/avenir/AvenirLTStd-Book.woff') format('opentype'), url('../fonts/avenir/AvenirLTStd-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/avenir/AvenirLTStd-Roman.eot') format('embedded-opentype'), url('../fonts/avenir/AvenirLTStd-Roman.ttf') format('opentype'), url('../fonts/avenir/AvenirLTStd-Roman.woff') format('opentype'), url('../fonts/avenir/AvenirLTStd-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/avenir/Avenir-Heavy.eot') format('embedded-opentype'), url('../fonts/avenir/Avenir-Heavy.ttf') format('opentype'), url('../fonts/avenir/Avenir-Heavy.woff') format('opentype'), url('../fonts/avenir/Avenir-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*********************************************************************************************
    Montserrat
**********************************************************************************************/

/* montserrat-300 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat/montserrat-v12-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/montserrat/montserrat-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-300.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-300italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/montserrat/montserrat-v12-latin-300italic.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url('../fonts/montserrat/montserrat-v12-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-300italic.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat/montserrat-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat/montserrat-v12-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Italic'), local('Montserrat-Italic'), url('../fonts/montserrat/montserrat-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-italic.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat/montserrat-v12-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/montserrat/montserrat-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-500.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/montserrat/montserrat-v12-latin-500italic.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url('../fonts/montserrat/montserrat-v12-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-500italic.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat/montserrat-v12-latin-600.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/montserrat/montserrat-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/montserrat/montserrat-v12-latin-600italic.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url('../fonts/montserrat/montserrat-v12-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-600italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-600italic.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat/montserrat-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/montserrat/montserrat-v12-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url('../fonts/montserrat/montserrat-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat/montserrat-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat/montserrat-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat/montserrat-v12-latin-700italic.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* ********************************************************************************************
    Preset
*********************************************************************************************** */

body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
/************custom css********/
img {
    max-width: 100% !important; /* This rule is very important, please do not ignore this! */
  }
.modal-body {
    position: relative;
     padding: 0px !important; 
}
  #canvas {
    height: 600px;
    width: 600px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
  }
body.home {
    background: #FFFFFF;
}

a {
    color: #F9811E;
    outline: none !important;
    text-decoration: none;
}

a:hover, a:focus, .active>a {
    color: #F9811E;
    text-decoration: none;
}

strong, b {
    font-weight: bold;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

label {
    font-weight: normal;
}

.v-grid-container {
    display: table;
    width: 100%;
}

.v-grid {
    display: table-cell;
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle;
}

.close {
    filter: alpha(opacity=70);
    opacity: .7;
}

.close:hover, .close:focus {
    filter: alpha(opacity=100);
    opacity: 1;
}

.separator {
    margin: 0 5px;
}

hr {
    border-color: #cad5da;
}

h3 {
    color: #404040;
}

.push-effects:hover {
    transform: scale(0.9, 1);
    -webkit-transform: scale(0.9, 1);
    -moz-transform: scale(0.9, 1);
    -o-transform: scale(0.9, 1);
    -ms-transform: scale(0.9, 1);
}

.relative {
    position: relative;
}

.max-width-650 {
    max-width: 650px;
    margin: 0 auto;
}

.max-width-750 {
    max-width: 750px;
    margin: 0 auto;
}

.max-width-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

/* Padding Top */

.no-padding {
    padding: 0px !important;
}

.padd-top0 {
    padding-top: 0px !important;
}

.padd-top5 {
    padding-top: 5px !important;
}

.padd-top10 {
    padding-top: 10px !important;
}

.padd-top15 {
    padding-top: 15px !important;
}

.padd-top20 {
    padding-top: 20px !important;
}

.padd-top25 {
    padding-top: 25px !important;
}

.padd-top30 {
    padding-top: 30px !important;
}

.padd-top35 {
    padding-top: 35px !important;
}

.padd-top40 {
    padding-top: 40px !important;
}

.padd-top45 {
    padding-top: 45px !important;
}

.padd-top50 {
    padding-top: 50px !important;
}

.padd-top55 {
    padding-top: 55px !important;
}

.padd-top60 {
    padding-top: 60px !important;
}

.padd-top65 {
    padding-top: 65px !important;
}

.padd-top70 {
    padding-top: 70px !important;
}

.padd-top75 {
    padding-top: 75px !important;
}

.padd-top80 {
    padding-top: 80px !important;
}

.padd-top85 {
    padding-top: 85px !important;
}

.padd-top90 {
    padding-top: 90px !important;
}

.padd-top95 {
    padding-top: 95px !important;
}

.padd-top100 {
    padding-top: 100px !important;
}

/* Padding Bottom */

.padd-bot0 {
    padding-bottom: 0px !important;
}

.padd-bot5 {
    padding-bottom: 5px !important;
}

.padd-bot10 {
    padding-bottom: 10px !important;
}

.padd-bot15 {
    padding-bottom: 15px !important;
}

.padd-bot20 {
    padding-bottom: 20px !important;
}

.padd-bot25 {
    padding-bottom: 25px !important;
}

.padd-bot30 {
    padding-bottom: 30px !important;
}

.padd-bot35 {
    padding-bottom: 35px !important;
}

.padd-bot40 {
    padding-bottom: 40px !important;
}

.padd-bot45 {
    padding-bottom: 45px !important;
}

.padd-bot50 {
    padding-bottom: 50px !important;
}

.padd-bot55 {
    padding-bottom: 55px !important;
}

.padd-bot60 {
    padding-bottom: 60px !important;
}

.padd-bot65 {
    padding-bottom: 65px !important;
}

.padd-bot70 {
    padding-bottom: 70px !important;
}

.padd-bot75 {
    padding-bottom: 75px !important;
}

.padd-bot80 {
    padding-bottom: 80px !important;
}

.padd-bot85 {
    padding-bottom: 85px !important;
}

.padd-bot90 {
    padding-bottom: 90px !important;
}

.padd-bot95 {
    padding-bottom: 95px !important;
}

.padd-bot100 {
    padding-bottom: 100px !important;
}

/* Padding Left */

.padd-left0 {
    padding-left: 0px !important;
}

.padd-left5 {
    padding-left: 5px !important;
}

.padd-left10 {
    padding-left: 10px !important;
}

/* Padding Right */

.padd-right0 {
    padding-right: 0px !important;
}

.padd-right5 {
    padding-right: 5px !important;
}

.padd-right10 {
    padding-right: 10px !important;
}

/* Margin Top */

.no-margin {
    margin: 0px !important;
}

.mar-top0 {
    margin-top: 0px !important;
}

.mar-top5 {
    margin-top: 5px !important;
}

.mar-top10 {
    margin-top: 10px !important;
}

.mar-top15 {
    margin-top: 15px !important;
}

.mar-top20 {
    margin-top: 20px !important;
}

.mar-top25 {
    margin-top: 25px !important;
}

.mar-top30 {
    margin-top: 30px !important;
}

.mar-top35 {
    margin-top: 35px !important;
}

.mar-top40 {
    margin-top: 40px !important;
}

.mar-top45 {
    margin-top: 45px !important;
}

.mar-top50 {
    margin-top: 50px !important;
}

.mar-top55 {
    margin-top: 55px !important;
}

.mar-top60 {
    margin-top: 60px !important;
}

.mar-top65 {
    margin-top: 65px !important;
}

.mar-top70 {
    margin-top: 70px !important;
}

.mar-top75 {
    margin-top: 75px !important;
}

.mar-top80 {
    margin-top: 80px !important;
}

.mar-top85 {
    margin-top: 85px !important;
}

.mar-top90 {
    margin-top: 90px !important;
}

.mar-top95 {
    margin-top: 95px !important;
}

.mar-top100 {
    margin-top: 100px !important;
}

.mar-top150 {
    margin-top: 150px !important;
}

/* Margin Bottom */

.mar-bot0 {
    margin-bottom: 0px !important;
}

.mar-bot5 {
    margin-bottom: 5px !important;
}

.mar-bot10 {
    margin-bottom: 10px !important;
}

.mar-bot15 {
    margin-bottom: 15px !important;
}

.mar-bot20 {
    margin-bottom: 20px !important;
}

.mar-bot25 {
    margin-bottom: 25px !important;
}

.mar-bot30 {
    margin-bottom: 30px !important;
}

.mar-bot35 {
    margin-bottom: 35px !important;
}

.mar-bot40 {
    margin-bottom: 40px !important;
}

.mar-bot45 {
    margin-bottom: 45px !important;
}

.mar-bot50 {
    margin-bottom: 50px !important;
}

.mar-bot55 {
    margin-bottom: 55px !important;
}

.mar-bot60 {
    margin-bottom: 60px !important;
}

.mar-bot65 {
    margin-bottom: 65px !important;
}

.mar-bot70 {
    margin-bottom: 70px !important;
}

.mar-bot75 {
    margin-bottom: 75px !important;
}

.mar-bot80 {
    margin-bottom: 80px !important;
}

.mar-bot85 {
    margin-bottom: 85px !important;
}

.mar-bot90 {
    margin-bottom: 90px !important;
}

.mar-bot95 {
    margin-bottom: 95px !important;
}

.mar-bot100 {
    margin-bottom: 100px !important;
}

.mar-bot150 {
    margin-bottom: 150px !important;
}

/* Margin Left */

.mar-left0 {
    margin-left: 0px !important;
}

.mar-left5 {
    margin-left: 5px !important;
}

.mar-left10 {
    margin-left: 10px !important;
}

/* Margin Right */

.mar-right0 {
    margin-right: 0px !important;
}

.mar-right5 {
    margin-right: 5px !important;
}

.mar-right10 {
    margin-right: 10px !important;
}

.f-w-200 {
    font-weight: 200;
}

.f-w-300 {
    font-weight: 300;
}

.col-primary {
    color: #F9811E !important;
}

.col-white {
    color: #fff !important;
}

/* Bg - Color */

.bg-primary {
    background-color: #F9811E;
}

.bg-gray {
    background-color: #F4F4F4;
}

.bg-white {
    background: #FFFFFF !important;
}

.half-left {
    width: 50%;
    padding-right: 15px;
    float: left;
}

.half-right {
    width: 50%;
    float: left;
    padding-left: 15px;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

/* Fixed Select Box Mac Issue */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /*::i-block-chrome, select.form-control{text-indent: 13px;line-height: 52px;}    */
    /*::i-block-chrome, select.input-lg{text-indent: 13px;line-height: 62px;}*/
    .mac select.form-control {
        text-indent: 13px;
    }
    .mac select.input-sm {
        text-indent: 13px;
    }
    .mac select.input-lg {
        text-indent: 13px;
    }
}

input:hover, input:focus, select:hover, select:focus, button:hover, button:focus {
    outline: none;
}

.nogutter1 {
    padding-left: 0;
    padding-right: 10px;
}

.nogutter2 {
    padding-left: 10px;
    padding-right: 0;
}

/* Container */

.md-container {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.sm-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.xs-container {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.theme-color {
    color: #F9811E;
}

.c-white {
    color: #FFFFFF !important;
}

.c-gray {
    color: #9B9B9B !important;
}

.c-blue {
    color: #1DA3BF;
}

.c-green {
    color: #4abe3a;
}

.c-red {
    color: #ff2626;
}

.c-black {
    color: #444444;
}

.block {
    display: block;
}

img.block {
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.fontbold {
    font-weight: bold;
}

.fontmedium {
    font-weight: 500;
}

.fontlight {
    font-weight: 300;
}

.textcenter {
    text-align: center;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.input-group .form-control, .input-group .form-control:focus {
    box-shadow: none;
    outline: 0;
    border-color: transparent;
}

hr {
    border-color: #BBB4A7;
}

/*****************************************
    Header
******************************************/

.navbar-inverse {
    background: #F9811E;
    border-color: #F9811E;
    border-radius: 0;
    z-index: 25;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-family: 'Avenir-Heavy';
    font-size: 14px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #88206f;
}

.navbar-right .dropdown.open i:before {
    content: "\f00d";
}

.dropdown-menu {
    border: 0;
    box-shadow: 1px 1px 4px 2px rgba(179, 179, 179, 0.5);
    top: 55px;
    margin-right: 10px;
    padding: 25px 0;
    border-radius: 0;
    width: 290px;
}

.dropdown-menu:after {
    bottom: 100%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.dropdown-menu>li>a {
    text-align: right;
    padding: 8px 20px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #fff;
    color: #F9811E;
}

.btn-01 {
    float: right;
    padding: 32px 20px 10px;
}

.btn-01 a {
    border-radius: 15px;
    background-color: #F9811E;
    color: #fff;
    padding: 9px 20px;
}

.nav-profile {
    float: left;
    margin-top: -45px;
    margin-left: 20px;
    text-align: center;
}

.nav-profile a {
    padding: 0 0 10px 0 !important;
}

.nav-profile p a {
    color: #737373;
    font-size: 10px;
}

.dropdown-menu>li>a {
    color: #000;
}

/*****************************************
    Update Profile
******************************************/

#update-profile.modal.in {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -o-align-items: center;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: box !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    text-align: center;
}

#update-profile.modal.in .modal-dialog {
    max-width: 390px;
    display: block;
    margin: 0 auto;
}

/*DEMO*/

.preview {
    margin: 10px;
    display: none;
}

.preview--rounded {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

/* IMMUTABLE */

.hide {
    display: none !important;
}

* {
    box-sizing: border-box;
}

.photo__zoom {
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
    /**
	  * Zoom
	  */
    /**
	  * Zoom handler
	  */
    /**
	  * FOCUS
	  */
    /**
	  * Zoom track
	  */
    /**
	  * ICONS
	  */
}

.photo__zoom input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    height: 18px;
}

.photo__zoom input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.photo__zoom input[type=range]:focus {
    outline: none;
}

.photo__zoom input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.photo__zoom input[type=range]:focus::-ms-thumb {
    border-color: #268eff;
    box-shadow: 0 0 1px 0px #268eff;
}

.photo__zoom input[type=range]:focus::-moz-range-thumb {
    border-color: #268eff;
    box-shadow: 0 0 1px 0px #268eff;
}

.photo__zoom input[type=range]:focus::-webkit-slider-thumb {
    border-color: #268eff;
    box-shadow: 0 0 1px 0px #268eff;
}

.photo__zoom input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -9px;
    box-sizing: border-box;
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    background: #eee;
    border: 1px solid #ddd;
}

.photo__zoom input[type=range]::-webkit-slider-thumb:hover {
    border-color: #c1c1c1;
}

.photo__zoom input[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    background: #eee;
    border: 1px solid #ddd;
}

.photo__zoom input[type=range]::-ms-thumb:hover {
    border-color: #c1c1c1;
}

.photo__zoom input[type=range]::-moz-range-thumb {
    margin-top: 0;
    box-sizing: border-box;
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    background: #eee;
    border: 1px solid #ddd;
}

.photo__zoom input[type=range]::-moz-range-thumb:hover {
    border-color: #c1c1c1;
}

.photo__zoom input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #eee;
    border: 0;
}

.photo__zoom input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #eee;
    border: 0;
}

.photo__zoom input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #eee;
    border: 0;
}

.photo__zoom input[type=range].zoom--minValue::before, .photo__zoom input[type=range].zoom--maxValue::after {
    color: #f8f8f8;
}

.photo__zoom input[type=range]::before, .photo__zoom input[type=range]::after {
    position: absolute;
    content: "\f03e";
    display: block;
    font-family: 'FontAwesome';
    color: #aaa;
    transition: color 0.3s ease;
}

.photo__zoom input[type=range]::after {
    font-size: 18px;
    right: -2px;
    top: 2px;
}

.photo__zoom input[type=range]::before {
    font-size: 14px;
    left: 4px;
    top: 4px;
}

/**
  * FRAME STYLE
  */

.photo__frame--circle {
    border: 1px solid #e2e2e2;
    border-radius: 50%;
}

.photo__helper {
    position: relative;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 15px 0;
}

.photo__helper .canvas--helper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.photo__frame img, .photo__helper {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile {
    position: relative;
    font-family: 'Avenir-Medium';
    font-size: 85%;
    width: 300px;
    margin: 0 auto;
}

.photo {
    text-align: center;
    margin-bottom: 15px;
}

.photo input[type=file] {
    display: none;
}

.photo__options {
    /* margin-top: 15px; */
    /* position: relative; */
    text-align: left;
}

.photo__options .remove {
    padding: 5px 0 0;
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    background: #d23826;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.photo__options .remove:hover {
    color: #000;
}

.photo__zoom {
    vertical-align: middle;
    width: 80%;
    display: none;
}

.photo__frame {
    cursor: move;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
}

.photo__frame img, .photo__helper img {
    position: relative;
}

.photo__frame .message {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    color: #F9811E;
    z-index: 3;
}

.photo__frame .is-dragover {
    display: none;
}

.message p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.photo__options {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30%;
}

.photo__options li {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.photo--empty .photo__frame {
    cursor: pointer;
}

/**
  * IMG states
  */

.profile.is-dragover .photo__frame img, .photo--empty img, .photo--error img, .photo--error--file-type img, .photo--error--image-size img, .photo--loading img {
    display: none;
}

/**
  * States
  */

/** SELECT PHOTO MESSAGE */

.message--desktop, .message--mobile {
    display: none;
}

/* MOBILE */

.is-mobile .message--mobile {
    display: inline-block;
}

.is-mobile .message--desktop {
    display: none;
}

/* DESKTOP */

.is-desktop .message--desktop {
    display: inline-block;
}

.is-desktop .message--mobile {
    display: none;
}

/* DEFAULT */

.message.is-empty, .message.is-loading, .message.is-wrong-file-type, .message.is-wrong-image-size, .message.is-something-wrong, .message.is-dragover {
    display: none;
}

/* EMPTY */

.photo--empty .photo__options {
    display: none;
}

.photo--empty .message.is-empty {
    display: inline-block;
}

.photo--empty .photo__frame:hover {
    background: #F9811E;
}

.photo--empty .photo__frame:hover .message {
    color: #fff;
}

/* LOADING */

.photo--loading .message.is-loading {
    display: inline-block;
}

.photo--loading .message.is-empty, .photo--loading .message.is-wrong-file-type, .photo--loading .message.is-dragover, .photo--loading .message.is-wrong-image-size, .photo--loading .photo__options {
    display: none;
}

/* ERROR */

/* UNKNOWN */

.photo--error .message.is-empty, .photo--error .message.is-loading, .photo--error .message.is-dragover, .photo--error .message.is-wrong-image-size, .photo--error .photo__options {
    display: none;
}

.photo--error .message.is-something-wrong {
    display: inline-block;
}

/* FILE TYPE*/

.photo--error--file-type .message.is-empty, .photo--error--file-type .message.is-loading, .photo--error--file-type .message.is-dragover, .photo--error--file-type .message.is-wrong-image-size, .photo--error--file-type .photo__options {
    display: none;
}

.photo--error--file-type .message.is-wrong-file-type {
    display: inline-block;
}

/* IMAGE SIZE */

.photo--error--image-size .message.is-empty, .photo--error--image-size .message.is-loading, .photo--error--image-size .message.is-dragover, .photo--error--image-size .message.is-wrong-file-type, .photo--error--image-size .photo__options {
    display: none;
}

.photo--error--image-size .message.is-wrong-image-size {
    display: inline-block;
}

/* DRAGOVER */

.profile.is-dragover .photo__frame .is-dragover {
    display: inline-block;
}

.profile.is-dragover .message.is-empty, .profile.is-dragover .message.is-loading, .profile.is-dragover .message.is-wrong-file-type, .profile.is-dragover .message.is-wrong-image-size {
    display: none;
}

.update-profile-btn {
    text-align: center;
}

.update-profile-btn .btn {
    padding: 9px 10px;
    width: 110px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir-Book';
    margin-bottom: 20px;
}

.update-profile-btn .btn-cancel {
    background-color: #D0021B;
    margin-left: 30px;
}

/*****************************************
    Left Menu
******************************************/

aside {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    width: 150px;
    background-color: #F5F5F5;
}

.side-menu {
    padding-top: 80px;
}

.side-menu a {
    font-family: 'Avenir-Book';
    color: #000000;
    font-size: 14px;
    line-height: 19px;
    display: block;
    padding: 6px 10px 6px 35px;
}

.side-menu a:hover {
    background: #ccc;
}

.side-menu a.active {
    font-family: 'Avenir-Medium';
    color: #F9811E;
}

/* ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	background: #4A90E2;
	border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #4A90E2; 
} */

/*****************************************
    Button
******************************************/

.btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #F9811E;
    color: #FFF !important;
    width: 100%;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

.hide {
    display: none;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background: #FFF;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: 200ms ease-out;
}

.loading .brand {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto auto;
    display: inline-block;
    transform: translateY(-50%);
}

.loading img.brand-logo {
    margin: 0 auto;
    display: table;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255);
    background-image: none;
    color: rgb(0, 0, 0);
}

/********************************
	BREADCRUMBS
*********************************/

.breadcrumb {
    background: transparent;
    font-size: 14px;
    padding: 0;
}

.breadcrumb>li>a {
    color: #8D8D8D;
}

.breadcrumb>li.active {
    color: #000;
    font-weight: 500;
    font-family: 'Avenir-Medium';
}

.breadcrumb>li+li:before {
    padding: 0 7px;
    color: #8D8D8D;
    content: "\f105";
    font-family: FontAwesome;
    font-size: 1.25em;
    font-weight: bold;
}

/********************************
	FORM
*********************************/

.form-control:focus {
    border-color: #F9811E;
    -webkit-box-shadow: inset rgba(0, 0, 0, .075) 0 1px 1px, rgba(157, 36, 128, 0.6) 0 0 8px;
    box-shadow: inset rgba(0, 0, 0, .075) 0 1px 1px, rgba(157, 36, 128, 0.6) 0 0 8px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    width: 70%;
}

.navbar-inverse .navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.dropdown-toggle span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    ;
}

@media screen and (max-width:767px) {
    .navbar-header {
        display: inline-block;
    }
    .nav>li {
        position: relative;
        display: block;
    }
    .nav>li .dropdown-toggle {
        padding-left: 0px;
        padding-right: 0px;
    }
    ul.nav.navbar-nav.navbar-right {
        float: right;
    }
    .navbar-inverse .navbar-brand {
        padding: 19px 15px;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: right;
        width: 290px;
        margin-top: 0;
        background-color: #fff;
        border: 0;
        left: auto;
        box-shadow: 1px 1px 4px 2px rgba(179, 179, 179, 0.5);
        right: 0;
        margin-right: 0px;
    }
    .dropdown-menu:after {
        left: 90%;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #9d9d9d;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #000;
    }
    aside {
        position: relative;
        top: 0;
        width: 100%;
    }
    .side-menu {
        padding-top: 75px;
        padding-bottom: 15px;
    }
    #update-profile.modal.in .modal-dialog {
        width: 100%;
        max-width: 390px;
        display: block;
        margin: 0 auto;
    }
    .profile {
        width: 260px;
    }
    .dropdown-toggle span {
        width: 77%;
    }
}

@media screen and (max-width:480px) {
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        width: 60%;
    }
    ul.nav.navbar-nav.navbar-right {
        width: 40%;
    }
    .navbar-nav {
        margin: 7.5px 0px;
    }
}

/******* 14-2-2018 piyush *********/

.navbar .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
}

.navbar-inverse .navbar-nav>li>a .fa {
    padding-left: 7px;
    vertical-align: middle;
}

.confirm-code .form-control {
    font-size: 11px;
}

/************* 20-2-2018 piyush *******************/

/*Model alert 20-02-2018 */

.alert-new-button {
    padding: 10px 0;
}

.alert-new-button a {
    font-size: 14px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
}

.alert-new-modal .modal-title {
    font-size: 16px;
}

/*.alert-new-modal .modal-footer {}*/

.alert-new-modal .modal-footer a {
    font-size: 14px;
    color: #3878DE;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.alert-new-modal .modal-footer a:hover {
    color: #000000;
}

.alert-new-modal .modal-dialog {
    width: 300px;
    margin: 30px auto;
}

.alert-new-modal .modal-header {
    border-bottom: none;
}

.alert-new-modal .modal-footer {
    border-top: none;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/Avenir-Black.woff') format('woff'), url('../fonts/avenir/Avenir-Black.ttf') format('truetype'), url('../fonts/avenir/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

.offers .col-sm-5 h4 {
    font-family: 'Avenir-Black';
}

.upload-img-btn3 {
    position: relative;
    width: 100px;
    margin: 0px auto 20px auto;
}

.upload-img-btn3 span {
    font-size: 14px;
    padding: 11px 5px;
    border-radius: 15px;
    background-color: #F9811E;
    color: #FFF;
    width: 100%;
    display: block;
    cursor: pointer;
}

.upload-img-btn3 span i {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    margin: 0 6px 0 0;
}

/******* 13-3-2018 piyush ******/

.prd-note-box {
    padding: 19px 0 27px 0;
}

.prd-note-box h3 {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    color: #000000;
    margin: 0;
    padding: 0 0 12px 0;
}

.btn {
    box-shadow: none !important;
}

.sweet-alert .text-muted {
    padding-right: 0 !important;
    text-align: unset !important;
}

.no-left-padding {
    padding-left: 0px !important;
}

.no-right-padding {
    padding-right: 0px !important;
}

.sweet-alert .text-muted {
    line-height: 2;
}