.transaction {
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Avenir-Book';
    vertical-align: top;
}

.transaction-search {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    border-radius: 0;
    width: 50%;
    display: inline-block;
    height: 50px;
    vertical-align: top;
    margin-right: 30px;
    text-align: center;
}

input[type="text"]:focus,
input[type="text"]:active {
    border-color: #F9811E;
    outline: #F9811E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(157, 36, 128, 0.6);
}

.search-btn {
    width: 87px;
    color: #8D8D8D !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    background-color: #D8D8D8;
    border-radius: 0;
    padding: 15px 21px;
    vertical-align: top;
}

.transaction-orders {
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    /* display: inline-block; */
    color: #8D8D8D;
    margin-right: 22px;
    margin-top: 0;
/*    margin-bottom: 15px;*/
}

.form-filter {
    display: inline-block;
}

.form-filter label {
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    color: #8D8D8D;
}

.form-filter select {
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    border: 0;
    box-shadow: none;
    outline: none;
    height: auto;
    margin-right: 15px;
    color: #000;
}

.form-filter select:focus,
.form-filter select:active {
    border: 0;
    box-shadow: none;
    outline: none;
}

.form-date {
    float: right;
    /* margin-top: 6px; */
}

.form-date label {
    color: #8D8D8D;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    vertical-align: sub;
}

.form-date input {
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0;
    padding: 3px 3px 3px 22px;
    height: 25px;
    width: 110px !important;
    font-size: 14px;
}

.form-date p {
    display: inline-block;
    color: #4A90E2;
}

.transaction-table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.transaction-table>thead>tr>th {
    border: 0;
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 300;
}

.transaction-table>tbody>tr>td {
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-family: 'Avenir-Medium';
}

.transaction-table>tbody>tr {
    margin-top: 10px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.transaction-table>thead>tr>th:first-child,
.transaction-table>tbody>tr>td:first-child {
    /* padding-left: 80px; */
    width: 180px;
}

.transaction-table>tbody>tr>td:first-child a {
    color: #4A90E2;
}

.transaction-table>thead>tr>th:last-child,
.transaction-table>tbody>tr>td:last-child {
    padding-right: 20px;
    width: 120px;
}

.transaction-info div {
    display: inline-block;
}

.transaction-info p {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    padding-right: 15px;
}

.transaction-info p.info-value {
    color: #000000;
    padding-right: 45px;
}

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px;
}

.card-header img {
    height: 50px;
}

.card-body {
    padding: 55px 60px 30px;
}

.order-num {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    color: #000000;
    font-family: 'Avenir-Medium';
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 3px solid #F5F5F5;
}

.order-details-table>thead>tr>th {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 3px solid #F5F5F5;
}

.order-details-table>tbody>tr>td {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    padding-top: 20px;
    border: 0;
}

.order-details-table>tbody>tr:last-child>td {
    padding-bottom: 100px;
    border-bottom: 3px solid #F5F5F5;
}

.total-table table {
    width: 200px;
}

.total-table .table>tbody>tr>td {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    border: 0;
}

.order-items span {
    font-weight: 300;
    font-family: 'Avenir-Book';
}

.btn-print {
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 9px 35px;
}

.form-date input.date-box {
    box-shadow: none;
}


/**********************************
    Datepicker Head
***********************************/

.cal-head {
    position: absolute;
    margin-top: 6px;
    font-size: .75em;
    margin-left: 6px;
}

div#ui-datepicker-div {
    color: #8D8D8D;
    font-size: 12px;
    font-family: 'Avenir-Book';
    width: 220px;
    border: 1px solid #D8D8D8;
    border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
    font-family: 'Avenir-Heavy';
    font-size: 14px;
    color: #000000;
}

.ui-widget-header {
    border: none;
    background: #fff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 0;
    background: #fff;
    color: #8D8D8D;
    text-align: center;
    width: 22px;
    height: 22px;
    line-height: 19px;
}

.ui-datepicker th,
.ui-datepicker td {
    font-size: 12px;
    width: 35px;
    height: 30px;
    vertical-align: middle;
    font-weight: 300;
    text-transform: uppercase;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background-color: #F9811E;
    color: #fff;
}

.ui-datepicker td a:hover {
    background-color: rgba(157, 36, 128, .2);
    color: #8D8D8D;
}

a.ui-datepicker-next.ui-corner-all,
a.ui-datepicker-prev.ui-corner-all {
    border: 1px solid #fff;
    background: #fff;
    font-weight: normal;
    color: #2b2b2b;
    cursor: pointer;
}

a.ui-datepicker-prev.ui-corner-all .ui-icon,
a.ui-datepicker-next.ui-corner-all .ui-icon {
    background-image: url(../images/ui-icons_555555_256x240.png);
}

.ui-icon-circle-triangle-e {
    background-position: -32px -15px;
}

.ui-icon-circle-triangle-w {
    background-position: -95px -15px;
}

input[id*="datepicker"]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #D8D8D8;
}

span.cal-pl {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
}

span.cal-pl img {
    width: 44%;
}

@media screen and (max-width:1199px) {
    .form-date {
        display: block;
        float: none;
        margin-top: 0;
    }
}

@media screen and (max-width:767px) {
    .transaction {
        margin-left: 0;
        margin-top: 50px;
    }
    .form-filter {
        display: block;
    }
    .form-filter .form-group,
    .form-date .form-group {
        display: inline-block;
        width: auto;
    }
    .form-filter .form-control,
    .form-date .form-control {
        display: inline-block;
        width: auto;
    }
    .transaction-info div {
        display: block;
    }
    .transaction-table>thead>tr>th:first-child,
    .transaction-table>tbody>tr>td:first-child {
        padding-left: 20px;
    }
    .transaction-table>thead>tr>th:last-child,
    .transaction-table>tbody>tr>td:last-child {
        padding-right: 10px;
    }
    .card-body {
        padding: 15px;
    }
}
@media print {
    div.card{
        border: 1px solid #f5f5f5 !important;
    }
    div.card-header {
        background-color: #f5f5f5 !important;
        -webkit-print-color-adjust: exact;
    }
    .transaction {
        margin-left: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

.transaction-table thead .status{
    text-align: center;
}

.transaction-table tbody .status{
    /* text-align: center; */
}
.card-body p {
    font-size: 18px;
    font-weight: 500;
}

.discount {
    color: #e82323;
}