<link rel="stylesheet" type="text/css" href="css/order-alert.css" />
<link rel="stylesheet" type="text/css" href="css/cancel-alert.css" />
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="orders"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span>Admin</span>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <!-- <li> -->
                        <!-- <a href="setting">Establishment Details</a> -->
                    <!-- </li> -->
                    <li>
                        <a href="setting">Settings</a>
                    </li>
                    <li class="nav-profile">
                        <a href="#" data-toggle="modal" data-target="#update-profile">
                            <img src="https://dummyimage.com/78x78/9d2481/ffffff" id="profilePicImage" width="78" height="78" class="img-circle" alt="">
                        </a>
                        <p>
                            <a href="#" data-toggle="modal" data-target="#update-profile">Change</a>
                        </p>
                    </li>
                    <li>
                        <div class="btn-01">
                            <a href="#" class="signout">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<aside>
    <div class="side-menu">
        <a href="orders" class="active">Orders</a>
        <a href="offers">Offers</a>
        <a href="transactions">Transactions</a>
        <a href="setting">Settings</a>
    </div>
</aside>
<section class="cancel-alert1 hide">
    <div class="alert-content">
        <h4>
            <a href="">&times;</a>
        </h4>
        <h2>Customer cancelled order</h2>
        <p class="order_number">order number:
            <span>595920</span>
        </p>

        <button class="btn cancel-alert-btn">Got it</button>
    </div>
</section>
<section class="order-alert1 hide">
    <div class="alert-content">
        <h4>
            <a href="">&times;</a>
        </h4>
        <h2>Order Placed</h2>
        <p class="order_number">order number:
            <span>392591</span>
        </p>
        <h3 class="timing">Delivery at
            <span>7:15pm</span>
        </h3>
        <button class="btn order-alert-btn">Got it</button>
    </div>
</section>
<section class="order-alert2 hide">
    <div class="alert-content">
        <h4>
            <a href="">&times;</a>
        </h4>
        <h2>Scheduled Order Placed</h2>
        <p class="order_number">order number:
            <span>294994</span>
        </p>
        <h3 class="timing">Nov 29, Monday. 3pm</h3>
        <button class="btn order-alert-btn2">Got it</button>
    </div>
</section>

<!-- image upload model -->
<div id="update-profile" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="profile">
                    <div class="photo">
                        <input type="file" accept="images/*" id="profilePic">
                        <div class="photo__helper">
                            <div class="photo__frame photo__frame--circle">
                                <canvas class="photo__canvas"></canvas>
                                <div class="message is-empty">
                                    <p class="message--desktop">Drop your photo here or browse your computer.</p>
                                    <p class="message--mobile">Tap here to select your picture.</p>
                                </div>
                                <div class="message is-loading">
                                    <i class="fa fa-2x fa-spin fa-spinner"></i>
                                </div>
                                <div class="message is-dragover">
                                    <i class="fa fa-2x fa-cloud-upload"></i>
                                    <p>Drop your photo</p>
                                </div>
                                <div class="message is-wrong-file-type">
                                    <p>Only images allowed.</p>
                                    <p class="message--desktop">Drop your photo here or browse your computer.</p>
                                    <p class="message--mobile">Tap here to select your picture.</p>
                                </div>
                                <div class="message is-wrong-image-size">
                                    <p>Your photo must be larger than 350px.</p>
                                </div>
                            </div>
                        </div>

                        <div class="photo__options hide">
                            <div class="photo__zoom">
                                <!-- <input type="range" class="zoom-handler"> -->
                            </div>
                            <a href="javascript:;" class="remove">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                        <span></span>
                    </div>
                </div>
                <div class="update-profile-btn">
                    <button type="button" id="profileImageBtn" class="btn">Save</button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>